@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Climate+Crisis&family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
:root{
--basic-dark-color: #212121;
--basic-light-color: #fff;
--border-radius: 50%;
--font-size: 25px;
}

/*.climate-crisis-<uniquifier> {
    font-family: "Climate Crisis", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings:
      "YEAR" 1979;
  }
*/
body {
    margin: 0;
    min-height: 100vh;                 
    background: #fff;
    }

    a {
        text-decoration: none;
        color: #fff;
    }
nav {
    color: #fff;
    position: fixed;
    inset: auto 0 0 0;
    border-bottom: 20px solid #fff;
    width: min(500px, 100%);
    --w-h-item: 60px;
    --position-x-active: 170px;
    background: rgba(255, 255, 255, 0.1); /* Slightly translucent white */
    border-radius: 15px; /* Rounded corners */
    backdrop-filter: blur(10px); /* Blur behind the element */
    -webkit-backdrop-filter: blur(10px); /* Blur behind the element for Safari */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1); /* Subtle shadow */
    border: 0 solid rgba(255, 255, 255, 0.3); /* Border with lower opacity */
}

nav ul {
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: repeat(5, var(--w-h-item));
    grid-template-rows: var(--w-h-item);
    justify-content: space-between;
}

nav ul li {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    transition: 0.5s;
    color: #000;
}

nav ul li.active {
    transform: translateY(-10px);
    color: #fff;
}

nav .effect {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 0;
    height: calc(var(--w-h-item) + 10px);
    z-index: -1;
    overflow: hidden;
    
}

nav .effect::before {
    position: absolute;
    left: 0;
    bottom: 0;
    height: var(--w-h-item);
    width: calc(var(--position-x-active) - 10px);
    background-color: transparent;
    content: '';
    border-top-right-radius: 30px;
    transition: 0.5s;
}

nav .effect::after {
    position: absolute;
    bottom: 0;
    right: 0;
    height: var(--w-h-item);
    content: '';
    background-color: transparent;
    width: calc(100% - var(--position-x-active) - var(--w-h-item) - 10px);
    border-top-left-radius: 30px;
    transition: 0.5s;
}

nav .effect .circle {
    position: absolute;
    width: var(--w-h-item);
    height: var(--w-h-item);
    background-color: #000;
    left: var(--position-x-active);
    border-radius: 50%;
    box-shadow: 0 20px 20px #5555;
    transition: 0.5s;
}

nav .effect .circle::before {
    position: absolute;
    left: -10px;
    right: -10px;
    content: '';
    height: 100%;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 50px 0 30px transparent;
    bottom: -10px;
    transition: 0.5s;
}

.content-section {
    display: none;
    padding: 20px;
    margin-bottom: 15px;
}

.content-section.active {
    display: block;
}

h1{
    font-family: "Climate Crisis", sans-serif;
    letter-spacing: 3px;
    font-size: 4em;
    color: #fff;
    animation: move-bg 10s infinite linear;;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;

        --bg-size: 400%;
        --color-one: hsl(15 90% 55%);
        --color-two: hsl(40 95% 55%);
        font-size: clamp(3rem, 25vmin, 3.5rem);
        background: linear-gradient(
                      90deg,
                      var(--color-one),
                      var(--color-two),
                      var(--color-one)
                    ) 0 0 / var(--bg-size) 100%;

        color: transparent;
        background-clip: text;
      
      
      
}
.fotografia{
    font-size: 2.5em;
}

.dev{

    font-size: 1.8em;
}
p{
    font-family: 'Karla', sans-serif;
    font-size: 2em;
    color: #000;
    animation: drop;
    animation-delay: 1.0s;
    animation-duration: 1.5s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;
}

strong {
    animation: move-bg 10s infinite linear;;
    animation-duration: 7s;
    animation-timing-function: ease-in-out;
    animation-fill-mode: backwards;

        --bg-size: 400%;
        --color-one: hsl(248, 90%, 55%);
        --color-two: hsl(217, 90%, 76%);
        font-size: clamp(3.5rem, 25vmin, 2.5rem);
        background: linear-gradient(
                      90deg,
                      var(--color-one),
                      var(--color-two),
                      var(--color-one)
                    ) 0 0 / var(--bg-size) 100%;

        color: transparent;
        background-clip: text;
}
br{
    letter-spacing: -10px;
}
h2{
    font-size: 2.5em;
}

.jobs-container {
    display: flex; /* Organiza os elementos em linha */
    flex-wrap: wrap; /* Permite que os elementos quebrem em várias linhas se necessário */
    justify-content: center; /* Alinha os elementos no centro do container */
    align-items: center; /* Alinha os elementos no centro verticalmente */
    margin: 0 auto; /* Centraliza o container na tela */
  }
  
.jobs-container img {
    margin: 10px; /* Adiciona espaço entre as imagens */
    max-width: 100%; /* Define o tamanho máximo da largura das imagens (em porcentagem) */
    height: auto; /* Mantém a proporção da imagem */
  }




  .btn {
    border: none;
    width: 15em;
    height: 5em;
    border-radius: 3em;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    background: #1C1A1C;
    cursor: pointer;
    transition: all 450ms ease-in-out;
    text-decoration: none;
    
  }
  
  .sparkle {
    fill: #AAAAAA;
    transition: all 800ms ease;
    text-decoration: none;
  }
  
  .text {
    font-weight: 600;
    color: #AAAAAA;
    font-size: medium; 
    text-decoration: none;
  }
  a

  .btn:hover {
    background: linear-gradient(0deg,#A47CF3,#683FEA);
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.4),
    inset 0px -4px 0px 0px rgba(0, 0, 0, 0.2),
    0px 0px 0px 4px rgba(255, 255, 255, 0.2),
    0px 0px 180px 0px #9917FF;
    transform: translateY(-2px);
  }
  
  .btn:hover .text {
    text-decoration: none;
    color: white;
  }
  
  .btn:hover .sparkle {
    fill: white;
    transform: scale(1.2);
  } 




 .job-buttons a {
    font-size: 4em;
    padding: 10px;
    border-radius: 50%;
    position: relative; /* Required for background animation */
    overflow: hidden;
    color: #000;
  }
  
  .social-media-button{
    padding-top: 20px;
    margin-top: 20px;
  }

  .social-media-buttons a {
    font-size: 3em;
    padding: 10px;
    border-radius: 50%;
    position: relative; /* Required for background animation */
    overflow: hidden;
    color: #000;
    margin: 10px;
  }
  
  .social-media-buttons a i {
    transition: transform 0.5s ease; /* Smooth transition for icon movement */
  }
  
  .social-media-buttons a:hover i {
    transform: scale(1.1); /* Slightly enlarge icon on hover */
  }
  
  .social-media-buttons a::before {
    content: ""; /* Create an empty element for background gradient */
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
     /* Set gradient colors */
    animation: gradient 5s infinite alternate; /* Animate the gradient */
  }
  
  @keyframes gradient {
    0% {
      background-position: 0% 0%; /* Start gradient from left */
    }
    100% {
      background-position: 100% 100%; /* End gradient at right */
    }
  }
  
  
  






@keyframes drop {
    0% {filter: blur(100px);
    translate: 0 100%;}
}

@keyframes move-bg {
        to {
          background-position: var(--bg-size) 0;
        }
      }

     

      .cssbuttons-io {
        justify-items: center;
        align-items: center;
        position: relative;
        font-family: inherit;
        font-weight: 500;
        font-size: 18px;
        letter-spacing: 0.05em;
        border-radius: 0.8em;
        cursor: pointer;
        border: none;
        background: linear-gradient(to right, #8e2de2, #4a00e0);
        color: ghostwhite;
        overflow: hidden;
        margin: 10px;
        z-index: -1;
      }
      
      .cssbuttons-io svg {
        width: 1.2em;
        height: 1.2em;
        margin-right: 0.5em;
      }
      
      .cssbuttons-io span {
        position: relative;
        z-index: 10;
        transition: color 0.4s;
        display: inline-flex;
        align-items: center;
        padding: 0.8em 1.2em 0.8em 1.05em;
      }
      
      .cssbuttons-io::before,
      .cssbuttons-io::after {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 0;
      }
      
      .cssbuttons-io::before {
        content: "";
        background: #000;
        width: 120%;
        left: -10%;
        transform: skew(30deg);
        transition: transform 0.4s cubic-bezier(0.3, 1, 0.8, 1);
      }
      
      .cssbuttons-io:hover::before {
        transform: translate3d(100%, 0, 0);
      }
      
      .cssbuttons-io:active {
        transform: scale(0.95);
      }
      
